.about {

    .container {
        //padding: 200px 0;
        display: flex;
        min-height: 90vh;
        flex-direction: column;

        .wrapper {
            margin: auto 0;
            h2 {
                font-size: 64px;
                margin-bottom: 30px;
                max-width: 90%;
            }

            .social {
                font-size: 18px;
    
                ul {
                    gap: 50px;
                }
            }

        }

        
    }

    
}