@import './variables';
@import './mixins';

body {
    font-family: $font-family;
    font-size: $font-size;
    background-color: $background-color;
    color: $font-color;
}

a:hover {
    color: $color-primary;
}

.tag {
    font-size: 14px;
    border: solid 1px $color-gray;
    padding: 5px 8px;
    margin-right: 10px;
    margin-top: 10px;
}

/*.container {
    padding: 0 60px;
    margin-left: auto;
    margin-right: auto;
}*/

@media (max-width: 767px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}