@import './variables';
@import './mixins';

.project-list {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;

    li {
        width: 100%;
        max-width: calc(50% - 20px);  

        @media (max-width: 767px) {
            max-width: 100%; 
        }
    }
}

.project-card {
    .image-wrapper {
        overflow: hidden;
        width: 100%;
        display: flex;
        margin-bottom: 20px;

        .image {
            width: 100%;
            transform: scale(1);
            transition: transform ease .4s;
        }
    }
    
    .title {
        margin: 0 0 10px;
        @media (max-width: 767px) {
            font-size: 21px;
        }

    }

    .category {
        font-size: 18px;
        color: $color-gray;
        font-weight: 500;
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    &:hover {
        .image-wrapper {
            .image {
                transform: scale(1.05);
                width: 100%;
            }
        }

    }
}

.project-header {
    padding: 100px 0;
    min-height: 580px;
    display: flex;
    background: url('../assets/computadora-cafe.jpg') no-repeat center bottom;
    background-size: 1400px;
    @media (max-width: 767px) {
        padding: 100px 0 60px;
    }

    .container {
        margin-top: auto;
        margin-bottom: auto;

        .title {
            font-size: 52px;
            color: #fff;
            margin-bottom: 15px;
            @media (max-width: 767px) {
                font-size: 36px;
            }
        }

        .category {
            font-weight: 300;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        .details {
            display: flex;
            margin-bottom: 20px;
            .detail-list {
                margin: auto 0;
                
                li {
                    font-size: 20px;
                    margin-bottom: 10px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }

                    label {
                        color: #fff;
                        margin-right: 10px;
                    }

                    a {
                        text-decoration: underline;
                    }
                }
            }

        }

        .description {
            font-size: 22px;
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }

}

.project-media {
    .media-container {
        margin-bottom: 100px;
    }
}