@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

$font-family: 'Plus Jakarta Sans', sans-serif;
$font-size: 16px;
$background-color: black;
$font-color: #bbb;
$color-gray: #666;
$color-primary: #f9004d;
$color-secondary: #FF7429;
$color-success: #2a9d8f;
$color-error: #f9004d;